---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">

      Quickly start IoT applications using our project
    </Fragment>

    <Fragment slot="subtitle">
      Go IoT Platform, a high-efficiency and scalable Internet of Things solution developed with the Go language. 
      This platform focuses on providing stable and reliable MQTT client management, 
      as well as comprehensive processing and analysis of MQTT reported data.


    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Downloads', amount: '4K' },
      { title: 'Stars', amount: '1K' },
      { title: 'Forks', amount: '0.2K' },
      { title: 'Users', amount: '4K' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our project"
    subtitle="The Go IoT Platform is the starting framework for developing various IoT application scenarios."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Smart City',
        description:
          'Smart city is a new urban model that utilizes technologies such as the Internet of Things, big data, cloud computing, and artificial intelligence to intelligently manage and serve various aspects of urban operation.',
        icon: 'tabler:template',
      },
      {
        title: 'Smart Agriculture',
        description:
          'Intelligent agriculture is a modern agricultural model that utilizes modern information technology to intelligently manage and precisely operate agricultural production processes.',
        icon: 'tabler:template',
      },
      {
        title: 'Smart Home',
        description:
          'Smart home is a specific application of Internet of Things technology in home environments. It achieves remote control, automated management, and optimized living environment by connecting various devices and systems in the home.',
        icon: 'tabler:template',
      },
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />


  

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle=""
    items={[
      {
        title: 'Efficiency',
        description:
          'We hope to reduce the duplication of work in IoT software development and enable users to quickly process usage data without being disturbed by trivial matters.',
      },
      {
        title: 'Simple',
        description:
          'Our project design process aims to use simple methods to enable users to efficiently achieve the desired results, but requires a little bit of scripting (JavaScript) programming skills.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->


  <!-- Features2 Widget ************** -->


  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={4}
    items={[
      {
        title: 'Email',
        description:
          'You can send an email to <a href="mailto:wangtaolee97@gmail.com">Zen HuiFer</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'GitHub',
        description:
          'You can submit <a href="https://github.com/iot-ecology/go-iot-platform/issues">Issues</a> to us to establish contact with us',
        icon: 'tabler:brand-github',
      },{
        title: 'Twitter',
        description:
          'You can follow my  <a href="https://x.com/fer_hui14457">Twitter</a>',
        icon: 'tabler:brand-twitter',
      },{
        title: 'ProductHunt',
        description:
          'By accessing <a href="https://www.producthunt.com/posts/go-iot-platform">go-iot-platform</a> fund us',
        icon: 'tabler:brand-producthunt',
      },
    ]}
  />
</Layout>
