---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Go IoT Platform — GoIoT: Efficient, scalable MQTT IoT platform in Go.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Project',
        href: 'https://github.com/iot-ecology/go-iot-platform',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/o1.png', alt: 'Go IoT Platform Image' }}
  >
    <Fragment slot="title">
      Quickly create <span class="hidden xl:inline">IoT project using</span>
      <span class="text-accent dark:text-white highlight">Go IoT Platform</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Go IoT Platform</span> is a free, a high-efficiency and scalable Internet of Things solution developed with the Go languag.</span
      >
      This platform focuses on providing stable and reliable MQTT client management, as well as comprehensive processing and analysis of MQTT reported data.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Go IoT Platform"
    subtitle="The top IoT development platform in the market is widely favored for its speed, ease of use, and wide compatibility, providing developers with an efficient, intuitive, and powerful development environment."
    items={[
      {
        title: 'MQTT ',
        description:
          'By adopting the MQTT protocol, it provides developers with a fast, reliable, and easily integrated communication solution.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Massive MQTT Client Management',
        description:
          'Our independently developed monitoring system ensures that the MQTT client can remain online continuously and stably. The system has load balancing capability and can automatically switch in case of failure.',
        icon: 'tabler:subtask',
      },
      {
        title: 'Alarm Analysis',
        description:
          'Users do not need to write tedious program code, they can set relevant options for data alarms through a simple and intuitive web interface.',
        icon: 'tabler:bell-ringing',
      },
      {
        title: 'Data Visualization',
        description:
          'We use intuitive charts (including line charts and bar charts, etc.) to enable users to quickly and accurately understand the key information of the data.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Offline Computing',
        description:
          "We provide powerful offline analysis tools that allow users to delve deeper into historical data for detailed processing and analysis.",
        icon: 'tabler:calculator',
      },
      {
        title: 'Script',
        description:
          'Users can use custom scripts to personalize and process MQTT messages, including alarm analysis and computational analysis, thereby improving the flexibility and automation level of data processing.',
        icon: 'tabler:script',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Go Iot Platform's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Under continuous development',
        description:
          'Complete core businesses such as massive MQTT client management, data analysis, and production planning.',
      },
      {
        title: 'Developing with Golang',
        description:
          'Golang is loved by developers for its simplicity, efficiency, concurrency support, and powerful standard libraries.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Quick Access',
        description: `Effortlessly connect devices using the MQTT protocol for transmission, the entire process takes only 1 minute.`,
      },
      {
        title: 'Free Customization',
        description:
          'This project supports source code delivery. You can make modifications according to your own needs, or you can contact us for relevant development and submit Issues through GitHub.',
      },
      {
        title: 'Microservice Architecture',
        description:
          "The project adopts a microservices architecture and is divided into MQTT management end, message queue consumption end, and backend management end.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'We hope that users can collaborate with us to build a community for the Go IoT Platform, communicate their opinions on the functional modules, and make the project more user-friendly.',
      },
      {
        title: 'Continuous improvement',
        description:
          'If you encounter any issues during use, you can contact us by submitting an issue, and we will continue to finalize this issue until it is fixed.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'We hope that users can greatly reduce unnecessary development investment and quickly and efficiently build their own IoT infrastructure platform when using this project.',
      },
      {
        title: 'Community support',
        description: `Join the growing Go IoT Platform community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream IoT-Platform up and running in no time with Go IoT Platform."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Using GitHub to download our project, it is usually recommended that you use the dev branch, which will bring more new features to our development version.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Compile</span>',
        description:
          "When you want the project to be downloaded locally, you need to perform dependency installation and compile the project",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Configuration</span>',
        description:
          'After compilation, you need to make basic configurations for the startup environment, including MySQL, Mongo, etc',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used Feature"
    subtitle="Use the following functions to quickly establish an IoT data platform."
    tagline="Components"
    items={[
      {
        title: 'Storage',
        description: "Using Influxdb, MongoDB, Redis, and MySQL as data storage solutions",
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Installation Record',
        description:
          "Capable of recording device installation logs",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Data Calculator',
        description:
          'Support offline data calculation',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Alarm Analysis',
        description:
          "Support interval alarms and scripted alarms to maximize the satisfaction of alarm scenarios",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'High Availability',
        description:
          'Core MQTT client management supports multi node deployment and achieves high availability',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Basic version is free and supports customized services',
        icon: 'flat-color-icons:currency-exchange',
      },
     
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display Go IoT Platform documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Go IoT Platform.
                        Go IoT Platform is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Go IoT Platform Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Go IoT Platform offers and how it can elevate your IoT development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Go IoT Platform?',
        description:
          "The Go IoT platform integrates the infrastructure required for an IoT project, allowing you to quickly invest in business development instead of dealing with tedious transactions.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Attempt to simulate an MQTT client to complete data transmission, and then view the data through this platform.',
      }
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '4K' },
      { title: 'Stars', amount: '1K' },
      { title: 'Forks', amount: '0.2K' },
      { title: 'Users', amount: '4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Project',
        href: 'https://github.com/iot-ecology/go-iot-platform',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Go IoT Platform
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
